*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rajdhani", sans-serif;
    font-style: normal;
}
body, html{
    transition: 1s ease;
    height: 100%;
    max-width: 100vw;
    background-color: var(--background);
    color: var(--font);
}
:root {
    --background-l: #f5f5f5;
    --primary-l: #181a1a;
    --muted-l: #cbc7c7;
    --accent-l: #ff5112;
    --font-l: #181a1a;

    --background: var(--background-l);
    --primary: var(--primary-l);
    --muted: var(--muted-l);
    --accent: var(--accent-l);
    --font: var(--font-l);
}
#page1,#main{
    max-width: 100vw;
}
#nav{
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 30px 40px;
    position: fixed;
    z-index: 100;
    width: 100vw;
}
#nav button{
    background-color: var(--accent);
    color: var(--background);
    border-radius: 5px;
    padding: 5px 15px;
    margin-left: 5px;
    border: none;
    font-size: 21px;
}
#nav button a{
    background-color: var(--accent);
    color: var(--background);
    border-radius: 5px;
    border: none;
    font-size: 21px;
    font-weight: 700;
    text-decoration: none;
}
#nav button i{
    font-size: 18px;
}

#intro{
    height: 40%;
    max-width: 100vw;
    padding: 50px;
    width: 100vw;
}
#intro h1{
    font-size: 80px;
    line-height: 70px;
}
#location{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#location h3{
    font-size: 25px;
}
#location h4{
    font-size: 20px;
}

#hero-img{
    display: block;
    max-width: 100vw;
    object-fit:contain;
    object-position: center -40em;
}
#img-container{
    height: 75vh;
    overflow: hidden;
}
#about{
    max-height: 45%;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 60px;
}
#about h2{
    max-width: 70%;
    font-size: 70px;
    line-height: 70px;
    border-right: 1px solid var(--primary);
    padding-right: 50px;
}
#about2{
    width: 30%;
    height: 200px;
    padding: 0 50px;
    display: flex;
    flex-direction:column;
    align-items:end ;
    justify-content: space-between;
}

#socials i{
    text-decoration: none;
    background-color: var(--primary);
    color: var(--background);
    padding: 10px;
    font-size: 25px;
    border-radius: 5px;
    transition: 0.5s ease;
    border: 2px solid var(--background);
}
#socials a{
    text-decoration: none;
}
#about2 #socials a i:hover{
    color: var(--background);
    border: 2px solid var(--accent);
    background-color: var(--accent);
}
#about2 h3{
    font-size: 40px;
}

#about3{
    border-top: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);
    height: 400px;
    margin: 0% 3%;
    display: flex;
}
#div1{
    width:30%;
    border-right: 1px solid var(--primary);
    margin: 30px;
    display: flex;
    align-items: top;
    padding-right: 40px;
    padding-top: 10px;
    justify-content: space-between;
}
#div1 i{
    font-size: 25px;
}

#subdiv1{
    height: 50%;
    border-bottom: 1px solid var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}
#subsubdiv1, #subsubdiv2{
    padding: 0 50px;
    width: 100vw;
}
#subsubdiv1{
    border-right: 1px solid var(--primary);
}

#subdiv2{
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}
#div2{
    width: 70%;
}
#page2{
    height: 100%;
    width: 100vw;
    transition: 1s ease;
}

#wrapper{
    background-color: var(--primary);
    color: var(--background);
    width: 100vw;
    height: 25vh;
}

#moving-txt{
    width: 100vw;
    height: 25vh;
    font-size: 100px;
    padding: 0;
    margin: 10px 0;
    white-space: nowrap;
    overflow-x: auto;
}
#moving-txt::-webkit-scrollbar{
    display: none;
}
#moving-txt h2{
    display: inline-block;
}
#moving-txt #con{
    white-space: nowrap;
    display: inline-block;
    animation: txt-move 170s linear infinite ;
    animation-iteration-count: infinite;
    width: 100%;
}
#moving-txt #circle{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--accent);
    margin: 0 10px 25px 5px;
    display: inline-block;
}
@keyframes txt-move {
    from {
        transform: translateX(10%);
    }
    to {
        transform: translateX(-100%);

    }
}

#proj {
    position: relative;
}
#proj img{
    transition: 0.5s ease;
    background-color: var(--muted);
    width: 100vw;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
    padding: 10px 100px;
}
#proj #img #overlay{
    height: 100%;
    width: 100vw;
    top: 0;
    left: 0;
    position: absolute;
    transition: opacity ease 1s;
    opacity: 0;
    background-color: #181a1a;
}
#proj #img:hover #overlay{
    opacity: 0.5;
}
#proj #img i{
    position: absolute;
    color: white;
    font-size: 50px;
    height: 100%;
    width: 100vw;
    top: 0;
    left: 100;
    padding: 18% 0 0 48%;
}
#proj #img:hover i{
    opacity: 1;
}
#details h3{
    width: 100vw;
    height: 100%;
    padding: 10px 0px 0px 100px;
    font-size: 40px;
    color: var(--accent);
}
#details h3 i{
    color: var(--primary);
    font-size: 20px;
    margin-bottom: 10px;
}
#details h4{
    width: 100vw;
    height: 100%;
    padding: 0px 100px;
    font-size: 25px;
    font-weight: 500;
}
#details h5{
    width: 100vw;
    height: 100%;
    padding: 0px 100px 20px 100px;
    font-size: 15px;
    font-weight: 100;
}
#proj-border{
    background-color: var(--primary);
    height: 1px;
    width: 93.75%;
    margin: auto;
    margin-bottom: 25px;
}

#page3{
    width: 100vw;
    max-height: 100%;
    margin: 100px 0;
}
#page3 h4{
    margin: 25px 0px;
    font-size: 50px;
    font-weight: 400;
}
/* #page3 #socials a i{
    font-size: 30px;
    padding: 10px 20px;
    color: var(--accent);
    border: 2px solid var(--accent);
    background-color: var(--background);
    transition: 0.5s ease;
}
#page3 #socials a i:hover{
    color: var(--background) ;
    border: 2px solid var(--accent);
    background-color: var(--accent);
} */

#maincontainer{
    background-color: var(--muted);
    margin: 25px 0;
    padding: 25px;
    min-height: 50vh;
    justify-content: space-around;
}
form{
    display: flex;
    max-height: 100%;
    max-width: 500px;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    font-size: 50px;
}
input[type="submit"]{
    background-color: var(--accent);
    padding: 15px 50px;
    border-radius: 5px;
    border: none;
    font-size: 25px;
}
input[type="submit"]:hover{
    background-color: #fd642c;
    color: var(--background);
}
input[type="text"],
input[type="email"],
textarea{    
    background-color: var(--background);
    height: 50%;
    font-size: 25px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid var(--primary);
}
textarea{
    width: 400px;
    height: 100px;
    margin-top: 2px;
}
/* #box3{
    margin-top: 100px;
    
} */
input[type="text"]:focus,input[type="email"]:focus,textarea:focus{
    outline: none;
}
#name,#message,#email{
    color: var(--accent);
    transition: border 0.5s ease;
}
#name:focus,#message:focus,#email:focus{
    border: 1px solid var(--accent);
}

@media (max-width: 1024px){
    textarea{
        width: 400px;
    }


    #intro h1{
        margin-top: -25px;
        font-size: 50px;
        line-height: 55px;
    }
    #hero-img{
        object-position: center -20em;
    }
    #img-container{
        height: 65vh;
    }
    #about h2{
        font-size: 30px;
        line-height: 50px;
    }
    #about2{
        height: 150px;
        padding: 0 auto;
        margin: 20px 10px;
    }
    #about2 h3{
        font-size: 20px;
    }
    #socials i{
        padding: 10px;
        font-size: 15px;
    }
    #wrapper{
        height: 15vh;
    }
    #moving-txt{
        font-size: 60px;
    }
    #moving-txt #circle{
        height: 1em;
        width: 1em;
        margin: 15px 25px 5px 25px;
    }
    
}
@media (max-width: 768px){
    textarea{
        width: 300px;
    }
    #about2{
        padding: 0 20px;
    }
    form{
        font-size: 35px;
    }
}
@media (max-width: 648px){
    body, html{
        max-width: 648px;
    }
    textarea,
    input[type="text"],
    input[type="email"],
    input[type="submit"]{    
        max-width: 150px;
    }

    #nav{
        justify-content: center;
    }
    #intro{
        padding: 50px 15px;
    }
    #intro h1{
        margin-top:25px;
        font-size: 45px;
        line-height: 55px;
    }
    #hero-img{
        object-position: center -10em;
    }
    #img-container{
        height: 50vh;
    }
    #about{
        padding: 30px 15px;
    }
    #about h2{
        font-size: 30px;
        line-height: 30px;
        padding-right: 30px;
        max-width: 200px;
    }
    #about2{
        height: 250px;
        padding: 0;
        margin: 20px 0;
    }
    #about2 h3{
        font-size: 20px;
    }
    #socials i{
        display: flex;
        flex-direction: column;
        padding: 10px;
        font-size: 15px;
    }

    #about3{
        max-height: 400px;
        margin: 0 10px;
        display: flex;
    }
    #about3 #div1{
        margin: 20px 0;
        padding: 10px;
        max-width: 110px;
    }
    #about3 #subdiv1 #subsubdiv1{
        padding: 10px 50px;
    }
    #about3 #subdiv1 #subsubdiv2{
        padding: 10px 40px;
    }
    #about3 #subdiv2 #subsubdiv1{
        padding: 10px 40px;
    }
    #about3 #subdiv1 #subsubdiv2{
        padding: 10px 30px;
    }
    #wrapper{
        height: 10vh;
    }
    #moving-txt{
        font-size: 40px;
    }
    #moving-txt #circle{
        height: 1em;
        width: 1em;
        margin: 15px 25px 5px 25px;
    }
    #proj img{
        padding: 10px 20px;
    }
    #details h3{
        font-size: 25px;
    }
    #details h4{
        font-size: 15px;
    }
    #details h5{
        font-size: 10px;
    }
    #maincontainer h4{
        font-size: 30px;
    }
    form{
        font-size: 20px;
    }
    #submit-btn{
        padding: 10px 35px;
    }
    
}

@media (max-width: 475px){
    body, html{
        max-width: 475px;
    }
    textarea,
    input[type="text"],
    input[type="email"],
    input[type="submit"]{    
        max-width: 150px;
    }

    #nav{
        justify-content: center;
    }
    #intro{
        padding: 50px 15px;
    }
    #intro h1{
        margin-top:25px;
        font-size: 45px;
        line-height: 55px;
    }
    #hero-img{
        object-position: center -10em;
    }
    #img-container{
        height: 50vh;
    }
    #about{
        padding: 30px 15px;
    }
    #about h2{
        font-size: 20px;
        line-height: 30px;
        padding-right: 30px;
        max-width: 200px;
    }
    #about2{
        height: 170px;
        padding: 0;
        margin: 20px 0;
    }
    #about2 h3{
        font-size: 15px;
    }
    #socials i{
        display: flex;
        flex-direction: column;
        padding: 10px;
        font-size: 15px;
    }

    #about3{
        max-height: 250px;
        margin: 0 10px;
        display: flex;
    }
    #about3 #div1{
        margin: 20px 0;
        padding: 10px;
        max-width: 110px;
        max-height: 200px;
        font-size: 15px !important;
    }
    #about3 #div2 h2{
        font-size: 15px !important;
    }

    #about3 #subdiv1 #subsubdiv1{
        padding: 10px 50px;
        font-size: 10px;
    }
    #about3 #subdiv1 #subsubdiv2{
        padding: 10px 40px;
        font-size: 10px;
    }
    #about3 #subdiv2 #subsubdiv1{
        font-size: 10px;
        padding: 10px 40px 10px 20px ;
        max-width: 100px;
        max-height: 200px;
        overflow: hidden;
    }
    #about3 #subdiv2 #subsubdiv2{
        font-size: 10px;
        padding: 10px 40px;
    }
    #about3 #subdiv1{
        max-height: 150px;
    }
    #about3 #subdiv2{
        max-height: 150px;
    }
    #wrapper{
        height: 10vh;
    }
    #moving-txt{
        font-size: 40px;
    }
    #moving-txt #circle{
        height: 1em;
        width: 1em;
        margin: 15px 25px 5px 25px;
    }
    #proj img{
        padding: 10px 20px;
    }
    #proj #img i{
        font-size: 25px;
    }
    #details h3{
        font-size: 25px;
    }
    #details h4{
        font-size: 15px;
    }
    #details h5{
        font-size: 10px;
    }
    #maincontainer h4{
        font-size: 30px;
    }
    form{
        font-size: 20px;
    }
    #submit-btn{
        font-size: 15px;
        padding: 10px 35px;
    }
    
    /* #page2,#wrapper,#proj,#moving-txt,a,#overlay,img,i{
        max-width: 50vw;
    } */
}
@media (max-width: 320px){
    body, html{
        max-width: 320px;
    }
    textarea,
    input[type="text"],
    input[type="email"],
    input[type="submit"]{    
        max-width: 100px;
        max-height: 30px;
    }
    #nav{
        justify-content: center;
        margin-top: 30px;
        padding-top: 0;
    }
    #intro{
        padding: 50px 15px 10px 15px;
    }
    #intro h1{
        margin-top:25px;
        font-size: 35px;
        line-height: 55px;
    }
    #intro #location h3{
        font-size: 20px;
    }
    #intro #location h4{
        font-size: 15px;
    }
    #hero-img{
        object-position: center -5em;
    }
    #img-container{
        height: 30vh;
    }
    #about{
        padding: 0px 15px 0px 15px;
    }
    #about h2{
        font-size: 20px;
        line-height: 30px;
        padding-right: 30px;
        max-width: 200px;
    }
    #about2{
        height: 170px;
        padding: 0;
        margin: 20px 0;
    }
    #about2 h3{
        font-size: 15px;
    }
    #socials i{
        display: flex;
        flex-direction: column;
        padding: 10px;
        font-size: 15px;
    }

    #about3{
        max-height: 250px;
        margin: 0 10px;
        display: flex;
    }
    #about3 #div1{
        margin: 20px 0;
        padding: 10px;
        max-width: 110px;
        max-height: 200px;
        font-size: 10px !important;
    }
    #about3 #div1 i{
        font-size: 15px !important;
    }
    #about3 #div2 h2{
        font-size: 15px !important;
    }

    #about3 #subdiv1 #subsubdiv1{
        padding: 10px auto;
        font-size: 10px;
    }
    #about3 #subdiv1 #subsubdiv2{
        padding: 10px auto;
        font-size: 10px;
    }
    #about3 #subdiv2 #subsubdiv1{
        font-size: 10px;
        padding: 10px 100px 10px 0px ;
        margin-left: 50px;
        /* padding: 10px auto ; */
        max-width: 2000px;
        max-height: 200px;
    }
    #about3 #subdiv2 #subsubdiv2{
        font-size: 10px;
        padding: 10px auto;
        /* padding: 10px 40px 10px 20px; */
    }
    #about3 #subdiv1{
        max-height: 150px;
    }
    #about3 #subdiv2{
        max-height: 150px;
    }
    #wrapper{
        height: 10vh;
    }
    #moving-txt{
        font-size: 40px;
    }
    #moving-txt #circle{
        height: 1em;
        width: 1em;
        margin: 15px 25px 5px 25px;
    }
    #proj img{
        padding: 10px 20px;
    }
    #proj #img i{
        font-size: 25px;
    }
    #details h3{
        font-size: 20px;
    }
    #details h4{
        font-size: 10px;
    }
    #details h5{
        font-size: 8px;
    }
    #maincontainer h4{
        font-size: 30px;
    }
    form{
        font-size: 20px;
    }
    #submit-btn{
        font-size: 15px;
        padding: 10px 35px;
    }
}